*{padding: 0; margin: 0; box-sizing: border-box;}

body{
    font-family: Poppins, "sans-serif";
    padding: 20px;
    background: #eee;
}

.todos{
    width: 400px;
    padding: 20px;
    background: #fff;
    margin: 0 auto;
}

.todo{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    line-height: 20px;
}

.todo .title{
    font-size: 15px;
    font-weight: 500;
}

.todo .body{
    font-size: 14px;
    font-weight: 300;
}